@use '../_layout/vars' as vars;
@use '../_layout/mixins' as mixin;

.up {
    &__container {
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 60px;
        height: 60px;
        color: #fff;
        border-radius: 50%;
        font-size: 2.5rem;
        @include mixin.flex(center, center, column, nowrap);
        background-color: vars.$color-blue1;
        box-shadow: 0 5px 45px rgba(0, 0, 0, .1);
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        transition: .3s;
        transform: scale(0);
        z-index: 99;

        &:hover{
            transform: translate(0, -15px);
        }
    }
}

@keyframes popUp {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
}