// VARIABLES


$bg-color: #f0f7f8;
$color-blue1: #1363DF;
$color-blue2: #9DD6DF;
$color-blue3: #1F4690;
$color-blue4: #2FA4FF;;
$color-gray: #cfd8dc;
$color-navbar: #B3E8E5;
$font-principal: 'Poppins', sans-serif;
$white-40: rgba(255, 255, 255, .40);
$white-25: rgba(255, 255, 255, .25);
$color-font:#1f1f1f;
$dark-40: rgba(0, 0, 0, .40);
$dark-25: rgba(0, 0, 0, .25);

//Modo DARK

$bg-color-dark: #1363DF;

// MIXINS 

@mixin flex($justify, $align, $direction, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-flow: $direction $wrap;
}

//Estilos Reusabls

.title {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 140px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: 5px auto;
    top: 2rem;
    border-radius: 5px;
    background-color: $color-blue1;
  }

  &--dark {
    color: #fff;
  }
}

.button {
  padding: 10px 25px;
  background-color: $color-blue1;
  border-radius: .4rem;
  width: 40%;
  color: #fff;
  margin: 2rem auto;
  transition: .3s;
  text-align: center;

  &:hover {
    background-color: $color-blue3;
    transform: translateY(-15px);
  }
}