@use '../tools/global'as g;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  font-size: 100%;
  overflow-x: hidden;
  font-family: g.$font-principal;
  line-height: 1.4em;
  color: g.$color-font;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}


a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: g.$color-blue1;
  color: #fff;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: g.$color-blue1;
  border-radius: 10px;
}