
$bg-color: #f0f7f8;
$color-blue1: #1363DF;
$color-blue2: #9DD6DF;
$color-blue3: #1F4690;
$color-blue4: #2FA4FF;;
$color-gray: #cfd8dc;
$color-navbar: #B3E8E5;
$font-principal: 'Poppins', sans-serif;
$white-40: rgba(255, 255, 255, .40);
$white-25: rgba(255, 255, 255, .25);
$color-font:#1f1f1f;
$dark-40: rgba(0, 0, 0, .40);
$dark-25: rgba(0, 0, 0, .25);

//Modo DARK

$bg-color-dark: #1363DF;