@use '../tools/global'as g;

.header {
  height: 100vh;
  background: url("../../img/picture.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
}

.home {
  
  &__container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    @include g.flex(center, center, column, wrap);
  }

  &__content {
    padding: 80px 0 0 40px;
  }

  &__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 70px;

    & span {
      color: transparent;
      font-size: 3.5rem;
      text-shadow: 5px 10px 20px black;
      -webkit-text-stroke: 2px g.$color-blue2;
      background: url("../../img/backfont.png");
      -webkit-background-clip: text;
      background-clip: 0;
      background-position: 0 0;
      animation: textBack 20s linear infinite;
    }

    &--span {
      color: #000;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #fff;
    font-weight: 700;
  }

  &__icons {
    @include g.flex(center, center, row, wrap);
  }

  &__icon {
    padding: 12px 25px;
    width: 28%;
    height: max-content;
    background-color: g.$color-blue1;
    border-radius: .4rem;
    text-align: center;
    transition: .3s;
    margin: 2rem auto;
    color: #fff;
    font-weight: 700;

    & i {
      font-weight: 500;
      font-size: 25px;
      color: #fff;
      vertical-align: middle;
      margin-left: 5px;
    }

    &:hover {
      background-color: g.$color-blue3;
      transform: translate(0, -15px);
    }
  }

}

@keyframes textBack {
  100% {
    background-position: 2000px 0;
  }
}

@keyframes scrollFloat {
  from{
    transform: translateY(0);
  }to{
    transform: translateY(-10px);
  }
}

@media(max-width: 1100px){
  .home {
    &__title {
      font-size: 2.8rem;

      & span {
        font-size: 3rem;
      }
    }
  }
}


@media (max-width:900px) {
  .home {
    
    &__content {
      padding: 0;
      margin: 0 auto;
    }

    // &__title {
    //   text-align: center;
    //   font-size: 2.6rem;

    //   & span {
    //     font-size: 2.rem;
    //   }
    // }

    &__subtitle {
      text-align: center;
      font-size: 1.8rem;
      margin: 40px 10px 10px 10px;
    }

    &__icons {
      @include g.flex(center, center, row, wrap);

    }

  }
}

@media(max-width:500px) {
  .home {
    &__title {
      font-size: 1.4rem;
      margin: 0 20px;
    }

    &__subtitle {
      font-size: 1.25rem;
    }

  }
}

@media(max-width:400px) {
  .home {
    &__title {
      font-size: 1.5rem;
      margin: 0 20px;

      & span {
        font-size: 1.8rem;
      }
        
    }

    &__subtitle {
      font-size: 1.3rem;
    }

  }
}